*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(#415BB8, #ffffff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    color: #ffffff;
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quadrado{
    width: 485px;
    height: 480px;
    background-color: #ffffff;
    border-radius: 15px;
   
    display: flex;
    align-items: center;
    justify-content: center;
}

.sla{
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.aaa{
    width: 299px;
    height: 42px;
    flex-shrink: 0;

    border-radius: 12px;
    background: #dadada;
    
}



